*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/mbswebplugin/build
/commonlibrary/build
/BGARefreshlibrary/build
/amaplibrary/build
/bannerLibrary/build

